# des
snippet des
	describe("${1}", function() {
		${2}
	});
# it
snippet it
	it("${1}", function() {
		${2}
	});
# beforeEach
snippet beforeEach
	beforeEach(function() {
		${1}
	});
# afterEach
snippet afterEach
	afterEach(function() {
		${1}
	});
# ex
snippet ex
	expect(${1}).
